.categoryList {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categoryItem {
  padding: .7rem 1.4rem;
  border-radius: .7rem;
  font-size: .9rem;
}

.categoryItem.style {
  background-color: #57c4ff31;
}

.categoryItem.fashion {
  background-color: #da85c731;
}

.categoryItem.food {
  background-color: #7fb88133;
}

.categoryItem.travel {
  background-color: #ff795736;
}

.categoryItem.culture {
  background-color: #ffb04f45;
}

.categoryItem.coding {
  background-color: #5e4fff31;
}
