.container {
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.ball {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}